<br /><br /><br />
<% unless @inactive_students.empty? %>

  <ul class="collapsible">
  <li>
    <div class="collapsible-header"> <p> <b> Inactive Students </b> <p>
    <i class="material-icons"> expand_more </i></div>
    <div class="collapsible-body">
    <ul>
      <% for student in @inactive_students %>
        <li><%= link_to student.name, student_path(student) %></li>
      <% end %>
    </ul>
    </div>
  </li>
  </ul>

<% end %>