<div class="row">    
  <div class="col s11">
    <div class="card">
      <div class="card-content">
        <span class="card-title">About ScienceQuiz</span>
        <p>ScienceQuiz is a non-profit organization which promotes science by encouraging students to participate in a series of science quiz events. Students will
        register via organizations (typically schools) and form teams to compete by answering science-related
        questions and scoring points for their teams.</p>
        <p>We provide the platform to test and grow your scientific knowledge and capabilities!
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>