<div class="row">  
  <h4><b>Welcome to ScienceQuiz</b></h4>  
  <div class="col s12">

    <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="https://visitors-centre.jrc.ec.europa.eu/jrc-quiz/images/sharing-image.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Click here to know about ScienceQuiz<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">ScienceQuiz<i class="material-icons right">close</i></span>
      <p>ScienceQuiz is developed with the intention of motivating students to learn more about science by having them
      engage in friendly competitions where they can demonstrate their knowledge by answering science-related
      questions.</p>
      <p>It is a fun, fascinating and enriching opportunity!!</p>
      <p>What are you waiting for? <br/> ENROLL NOW!!</p>
    </div>
  </div>

  </div>
</div>