<div class="row">    
  <div class="col s14">
    <div class="card">
      <div class="card-content">
        <span class="card-title">The ScienceQuiz Privacy Policy</span><br/>
        <p>
        Our privacy policy will help you understand how we use and protect the data you provide to us
       when you visit and use website and/or service.
      We reserve the right to change this policy at any given time, of which you will be promptly updated. 
      If you want to make sure that you are up to date with the latest changes, 
      we advise you to frequently visit this page.
      </p>
      <br/>
      <p>
      ScienceQuiz is committed to securing your data and keeping it confidential,
       and has done all in its power to prevent data theft, unauthorized access, and disclosure by 
       implementing the latest technologies and software, which help us safeguard all the information 
       we collect online.</p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>